* text=auto

*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.json text eol=lf
*.lock text eol=lf
*.mjs text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.rs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
